<html>

<body>
{% load staticfiles %}
<script src=" {%static "d3/d3.js" %}"></script>
<script src=" {%static "jquery/jquery-2.1.1.min.js" %}" ></script>
<style>
.chart {

}
.xaxis path, .xaxis line
{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.yaxis path, .yaxis line
{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text
{
    font-family: 'Arial';
    font-size: 13px;
}
.tick
{
    stroke-dasharray: 1, 2;
}
.bar
{
    fill: FireBrick;
}

.graphs{
    width:500px;
    height:auto;
}
</style>

<div id="consoles">

    <select id="snpConfig">
        {% for snpConfig in snpConChoice %}
            <option value="{{ snpConfig}}">{{snpConfig}}</option>

        {% endfor %}
    </select>

    <select id="varQtl">
        {% for vqtl in varQtl %}
            <option value="{{vqtl}}" > {{vqtl}}</option>
        {% endfor %}
    </select>

    <select id="software">
        {% for software in softwares %}
            <option value="{{software}}" > {{software}}</option>
        {% endfor %}
    </select>
<button id="submit_btn"  >Submit</button>
</div>

<div id="rawScores"   >
    <svg id="rawgraph1" class="graphs"></svg>
    <svg id="rawgraph5" class="graphs"></svg>
    <svg id="rawgraph10" class="graphs"></svg>
    <svg id="rawgraphinf" class="graphs"></svg>
</div>


<!--
<div id="varQtl"></div>

<div id="softwareCompare"></div>

<div id="rawPower"></div>
-->
<script>

$("#submit_btn").on("click",getData);

getData();

{% comment %}
var div = $("#rawgraph1");
var WIDTH = div.width() ,
        HEIGHT = div.height() ,
        MARGINS = {
            top: 5,
            right: 5,
            bottom: 5,
            left: 5
        },
        xRange = d3.scale.linear().range([MARGINS.left, WIDTH - MARGINS.right]).domain([d3.min(lineData, function (d) {
            return +d.runNumber;
        }), d3.max(lineData, function (d) {
            return +d.runNumber;
        })]),
        yRange = d3.scale.linear().range([HEIGHT - MARGINS.top, MARGINS.bottom]).domain([d3.min(lineData, function (d) {
            return +d.adjpValue;
        }), d3.max(lineData, function (d) {
            return +d.adjpValue;
        })]),
        xAxis = d3.svg.axis()
                .scale(xRange)
                .tickSize(5)
                .tickSubdivide(true),
        yAxis = d3.svg.axis()
                .scale(yRange)
                .tickSize(5)
                .orient('left')
                .tickSubdivide(true);
{% endcomment %}


function getData(){

	var vqtl = $("#varQtl").val();
	var software = $("#software").val();
	var snpConfig = $("#snpConfig").val();



	$.ajax({
        url : '/sensitive/sensitivityajax/',
        data : { 'varQtl':vqtl ,
            'software' : software,
            'snp_config' : snpConfig
        },
        success : function (data) {

            var jsonData = data;
            var map = d3.map(jsonData);
            console.log(map);
            var mousePer = map.keys();
            var lineData = jsonData[mousePer[1]];
            var lineFunc = d3.svg.line()
                    .x(function (d) {
                        return xRange(+d.runNumber);
                    })
                    .y(function (d) {
                        return yRange(+d.adjpValue);
                    })
                    .interpolate('linear');
            // set up stuff with which to work

            var div = $("#rawgraph1");
            var WIDTH = div.width() ,
                    HEIGHT = div.height() ,
                    MARGINS = {
                        top: 20,
                        right: 30,
                        bottom: 30,
                        left: 50
                    },
                    xRange = d3.scale.linear().range([MARGINS.left, WIDTH - MARGINS.right]).domain([d3.min(lineData, function (d) {
                        return +d.runNumber;
                    }), d3.max(lineData, function (d) {
                        return +d.runNumber;
                    })]),
                    yRange = d3.scale.linear().range([HEIGHT - MARGINS.top, MARGINS.bottom]).domain([d3.min(lineData, function (d) {
                        return +d.adjpValue;
                    }), d3.max(lineData, function (d) {
                        return +d.adjpValue;
                    })]),
                    xAxis = d3.svg.axis()
                            .scale(xRange)
                            .tickSize(5)
                            .tickSubdivide(true),
                    yAxis = d3.svg.axis()
                            .scale(yRange)
                            .tickSize(5)
                            .orient('left')
                            .tickSubdivide(true);
            var svg = d3.select('#rawgraph1');
            svg.append('g')
                        .attr('class', 'xaxis')
                        .attr('transform', 'translate(0 ,' + ( HEIGHT - MARGINS.bottom ) + ')')
                    .call(xAxis);


            svg.append('g')
                        .attr('class', 'yaxis')
                        .attr('transform', 'translate(0 ,' + ( HEIGHT - MARGINS.bottom ) + ')')
                    .call(yAxis);



            function drawRawGraphs(key, element, array) {


                var id = "#rawgraph" + key.trim();
                var svg = d3.select(id);

                svg.select('xaxis')
                        .call(xAxis);

                svg.select('yaxis')
                        .call(yAxis);


                var path = svg.selectAll('path')
                        .data([lineFunc(element)]);




                path.attr('d', lineFunc(element))
                        .attr('stroke', 'blue')
                        .attr('stroke-width', 2)
                        .attr('fill', 'none');

                path.enter()
                        .append('svg:path')
                        .attr('d', lineFunc(element))
                        .attr('stroke', 'blue')
                        .attr('stroke-width', 2)
                        .attr('fill', 'none');


                path.exit().remove();

                svg.select('xaxis')
                        .call(xAxis);

                svg.select('yaxis')
                        .call(yAxis);


            }

            map.forEach(drawRawGraphs);


        }
    });


}
</script>

</body>
</html>

